<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/about.css">
    <title>Your Blog</title>
   
</head>

<body>
    {{>headers}}
    
    <section class="new_sex" >
        <header>
        <h1>Your Blog</h1>
    </header>

    <nav >
        <a href="#">Home</a>
        
        <a href="#">Contact</a>
    </nav>

    <main>
        <div class="card">
            <h2>WEb Technology</h2>
            <p>Published on January 1, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum urna sit amet dapibus
                consectetur.</p>
            <a href="#">Read more</a>
        </div>

        <div class="card">
            <h2>ML algorithm LLM</h2>
            <p>Published on January 2, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum urna sit amet dapibus
                consectetur.</p>
            <a href="#">Read more</a>
        </div>

        <div class="card">
            <h2>Data Structure</h2>
            <p>Published on January 3, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum urna sit amet dapibus
                consectetur.</p>
            <a href="#">Read more</a>
        </div>
        <div class="card">
            <h2>ML algorithm LLM</h2>
            <p>Published on January 2, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum urna sit amet dapibus
                consectetur.</p>
            <a href="#">Read more</a>
        </div>


        <div class="about">
            <h2>About Us</h2>
            <img src="img.jpg" alt="Your Photo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum urna sit amet dapibus
                consectetur.</p>
        </div>
    </main>
    </section>
    {{>footers}}
</body>
    </section>

</html>
