<footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contact : @succinic08</h5>
                    <p>Email: jhagovind348@gmail.com</p>
                    <p>Phone: 7700819855 </p>
                </div>
                <div class="col-md-6">
                    <h5>Follow Me</h5>
                    <p>
                        Social Media Links:
                        <a href="https://twitter.com/your_twitter" target="_blank" class="text-white">Twitter</a>,
                        <a href="https://linkedin.com/in/your_linkedin" target="_blank" class="text-white">LinkedIn</a>,
                        <a href="https://github.com/your_github" target="_blank" class="text-white">GitHub</a>
                        <!-- Add more social media links as needed -->
                    </p>
                </div>
            </div>
        </div>
    </footer>