 <header class="text-white bg-white py-4">
        <div class="container bg-dark">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="display-4 " style="font-family: Georgia">Govind Jha</h1>
                    <p class="lead"  style="font-family: Georgia">Full Stack Developer</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <nav class="d-flex justify-content-end rounded-sm">
                        <ul class="nav ">
                            <button onclick=""><li class="nav-item rounded-sm "><a class="nav-link "  href="/">Home</a></li></button>
                            <button><li class="nav-item "><a class="nav-link"  href="/weather">Weather</a></li></button>
                            <button><li class="nav-item "><a class="nav-link"  href="/about">About</a></li></button>
                            <button onclick="gotothispath()"><li class="nav-item "><a class="nav-link"  href="/projects" >Projects</a></li></button>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>